@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Kulim Park", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(images/background-img.webp);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

nav ul{
    list-style: none;
    background-color: #3F3F4C;
    border-bottom: 1px solid black;
}

nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: flex;
    background-color: #2C2C2C;
    color: #f5f5f5;
    font-size: 16px;
    padding: 0.7em 1em;
    margin: 0 0.5em;
    border-radius: 8px;
    flex-wrap: nowrap;
}

.button:hover, .button:focus{
    background-color: #12143b;
    color: #F5F5F5;
}

#main-drop{
    position: relative;
}

.dropdown{
    visibility: hidden;
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 1em 0.5em 1.5em;
    border-radius: 10px;
    height: 190%;
    max-height: 5000px;
    bottom: -225%;
    left: 35.5%;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.50);
}

.dropdown .button{
    margin-top: 0.5em;
}

.hoverer:hover .dropdown, .hoverer:focus-within .dropdown{
    visibility: visible;
    opacity: 1;
    display: block;
}

#logo{
    max-height: 55px;
    margin: 0.5em 0.5em;
}

#center{
    justify-self: center;
    display: flex;
    align-items: center;
}

#right{
    display: flex;
}

.icons{
    margin: 0 0.7em;
}

#footer{
    background-color: #3F3F4C;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.foot-sects{
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-sects > a{
    color: #F5F5F5;
    font-size: 20px;
    padding: 0.3em;
    border-radius: 8px;
    
}

.foot-sects>a:hover, .foot-sects>a:focus{
    background-color: #2C2C2C;
    transition: background-color 200ms;
}

.foot-sects > hr{
    width: 5vw;
}

#footer h3{
    margin: 0;
    font-size: 30px;
}

.media{
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-icons{
    display: flex;
    align-items: center;
}

.media-icons > a{
    margin-left: 1em;
}

.media-icons > a:first-of-type{
    margin-left: 0;
}

.media-icons img:hover, .media-icons img:focus{
    background-color: #2C2C2C;
    transition: background, 200ms;
}

input[type="submit"]{
    background-color: black;
    color:#F5F5F5;
}

input[type="submit"]:hover, input[type="submit"]:focus{
    cursor: pointer;
    background-color: #12143b;
    transition: background, 200ms;
}

input[type="email"]{
    border: none;
    text-align: center;
    max-width: 50%;
}

input{
    border: none;
    font-size: 20px;
    margin: 1em 0;
    padding: 0.7em 1em;
}

#email-stuff{
    display: flex;
    justify-content: center;
}

.selectorMain h1 {
    color: #F5F5F5;
    text-align: center;
    font-size: 50px;
}

.selectorMain hr {
    width: 85%
} 

.cars h2 {
    color: #F5F5F5;
    font-size: 30px;
    align-self: flex-start;
    background-color: #2C2C2C;
    border: 3px solid #FCC900;
    border-bottom-left-radius: 8px;
    margin-top: -0.73em;
    margin-left: 0.54em;
    padding: 0.1em;

}

.cars article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

.cars article p {
    margin-left: 0.3em;
    margin-top: -1em;
}



#carSelectorHeading {
    margin-top: 2em;
}

.selection {
    width: 100%;
    border: 3px solid #FCC900;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    margin: 1em;
}

.selectorMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1165px;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    color: #f5f5f5;
}

.selectorBody footer {
    margin-top: 3em;
}
/* carpage */
.carHero {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: -5em;

}

.carHero h1, .carCreator h2, .confirmInfo h1  {
    color: #f5f5f5;
    font-size: 50px;
    align-self: center;
    font-weight:normal;
}

.carHero img {
    width: 100%;
    align-self: center;
    max-height: 95vh;
}

.carHero h2 {
    color: #f5f5f5;
    font-size: 35px;
}

.carHero section {
    display: flex;
    justify-content: center;
    width: 100%;

}

#sixty {
    margin-left: 4em;
    margin-right: 5.3em;
}

.carpage {
    display: flex;
    flex-direction: column;
}

.carHero hr {
    width: 99.94%;
}

.carCreator {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.carCreator img {
    align-self: center;
    border-radius: 50px;
    border: 3px solid #FCC900;
    width: 90%;
    margin: 0 0em 0 0em;
}

.carCreator .button {
    border: 2px solid #FCC900;
    align-self: center;
    text-align: justify;
    font-size: 40px;
    font-weight:normal;
    padding: 0.5em 3em;
    margin-top: 1em;
}

.carCreator p {
    text-align: center;
    margin-top: -0.6em;
}

.carDesc {
    margin-top: 10em;
    display: flex;
    justify-content: center;
    width: 100%;

}

.carDesc h3 {
    color: #f5f5f5;
    font-size: 30px;
    text-decoration: underline;
}

.carDesc > article > img {
    border: 3px solid #FCC900;
    border-radius: 25px;
    width: 100%;
    justify-self: center;
}

.carDesc > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    margin: 0 7em 0 7em;
}

.carDesc > article > h3 {
    align-self: flex-start;
}

.carDesc > article > p {
    align-self: flex-start;
}

/* homepage */
.homepage p, h2{
    font-weight: 400;
}

.hero{
    text-indent: -9999px;
    background-image: url("images/KS_config_hanger.png");
    padding: 45vh 1vw;
    background-position: center;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 8px 3px 2px rgba(0, 0, 0, 0.50);
}

.card{
    display: flex;
    margin-top: 5em;
    background-position: center;
    background-size: 100% 100%;
    padding: 2em 0;
}

.card-left{
    background-image: url("images/cardL-background.png");
    justify-content: flex-end;
}

.card-right{
    background-image: url("images/cardR-background.png");
    justify-content: flex-start;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#f5f5f5;
    text-align: left;
    max-width: 550px;
    margin-left: 15%;
    margin-right: 15em;
}

.card-right .card-text{
    margin-left: 15em;
    margin-right: 16em;
}

.card-text h2{
    font-size: 40px;
    text-decoration-line: underline;
}

.card-text p{
    font-size: 23px;
}

.card-text a{
    font-size: 30px;
    border: 2px solid #FCC900;
    color: #F5F5F5;
    border-radius: 8px;
    background: #2C2C2C;
    align-self: flex-end;
    padding: 0.5rem 0.2rem;
    margin-right: 0.5em;
}

.card-text a:hover, .card-text a:focus{
    background-color: #5a651f;
    transition: background-color, 200ms;
}

.card img{
    border-radius: 50px;
    border: 3px solid #FCC900;
    max-height: 400px;
}

.home-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.home-desc article{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f5;
    max-width: 900px;
}

.home-desc h2{
    font-size: 40px;
    margin-top: 1.5em;
    margin-bottom: 0.1em;
}

.home-desc hr{
    width: 100%;
}

.home-desc p{
    font-size: 23px;
}

.home-desc > article img{
    max-height: 160px;
    margin: 3em 0 6em 0;
}

.active{
    color: black;
    background-color: #CCA300;
}

.pageOption {
  overflow: hidden;
  position: relative;
  margin: 5em auto 0;
  width: 99vw; height: 55em;
  /* width: 100%; 
  height: 55em; */
  background-color: black;
}

.option, .option img { 
    width: 100%; 
    height: 100%; 
}

.option {
  overflow: hidden;
  position: absolute;  
  /* arctan(27 / 40) = 34.01935deg 
   * need to skew by 90deg - 34.01935deg = 55.98065deg
   round to second place
   29.05460407667
  */
  transform: skewX(-29.05deg);
  background-image: url("images/background-img.webp");
  /* roatate background imgae to match site */
  /* https://www.sitepoint.com/css3-transform-background-image/ */
}

.option:first-child {
  left: -.25em;
  transform-origin: 100% 0;
}

/* .option:last-child {
  right: -.25em;
  transform-origin: 0 100%;
} */

.option img { 
    opacity: .75;
    /* transition: .5s; */
    /* wibbly wobbly timey wimey */
}

.option img:hover { 
    opacity: 1; 
}

.option img, .option:after {
  transform: skewX(29.05deg);
  transform-origin: inherit;
}

.option:after {
  position: absolute;
  margin: .5em 1.65em;
  color: white;
  font: 500 1.25em Courier;
  letter-spacing: .1em;
  text-transform: uppercase;
  content: attr(data-inf);
}

.option:first-child:after { 
    top: 0; 
    left: 0; 
}

.option:last-child:after { 
    right: 0; 
    bottom: 0; 
}


/* New stuff added 12/7 by OK */
.confirmation {
    display: flex;  
    margin-top: 4em

}

.confirmInfo {
    display: flex;
    flex-direction: column;
}

.confirmInfo hr {
    width: 100%;
}

.confirmInfo a {
    border: 3px solid #FCC900; 
    font-size: 30px;
    align-self: center;
    width: 80%;
    justify-content: center;
}